{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} – SymfonyPress{% endblock %}

{% block body %}
<article>
	<header>
		<h1>{{ article.title }}</h1>
		{% if article.image %}
			<figure style="margin:1rem 0;">
				<img src="{{ asset('uploads/articles/' ~ article.image) }}" alt="{{ article.title }}" loading="lazy" width="800" height="450" style="width:100%;height:auto;border-radius:10px;object-fit:cover;">
			</figure>
		{% endif %}
		<p>
			<time datetime="{{ article.createdAt|date('d-m-Y') }}">
				{{ article.createdAt|date('d/m/Y') }}
			</time>
			-
		{% if article.user %}
			par
			{{ article.user.name }}
		{% else %}
			par Auteur inconnu
		{% endif %}

		•
		</p>
            <a href="{{ path('category_show', { slug: article.category.slug }) }}">
                {{ article.category.name }}
            </a>
        </p>
    </header>

    <section>
        <p>{{ article.content }}</p>
    </section>
</article>
{% endblock %}
